$green:  #3ded37;
$yellow:#f5ff66;
$red: #da4b4d;
$blue: #43a1e6;
$white: #ffffff;
@mixin margin($margin) {
    margin-right: $margin;
    margin-left: $margin;
    margin-top: $margin;
    margin-bottom: $margin;
}
body{
    background-color: $green;
}
.familiar{
    flex: 1 150px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: $red;
    color: black ;
}
footer{
    background-color: aquamarine;   
}
nav{
    margin-bottom: 10px;
}
.titulo{
    margin-top: 60px;
    background-color: yellowgreen;
}
.collapse{
    color: teal;
}
.nav-pills{
    margin-right: 20px;
}
.jumbotron{
    background-color: $yellow;
}
.card{
    background-color: $yellow;
    @include margin(30px);
}
.carousel{
    @include margin(30px);
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.table{
    background-color: $white;
}